@font-face {
    font-family: "Blox";
    src: url("/Blox2.ttf") format("ttf");
}

body {
    background-color: #c4c4c4;
}

.clock-site {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.clock-container {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 25vw;
    text-align: center;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    font-family: verdana;
    color: #662d6b;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.btn-submit-time {
    width: 60px;
    height: 25px;
}